<div class="container background_castle">
  <div class="row justify-content-center">
    <div class="col-12 col-lg-6">
      <%= simple_form_for(@castle) do |f| %>
        <div class="row">
          <div class="col-6">
            <%= f.input :name%>
          </div>
            <%= f.input :address %>
          <div class="col-6">
            <%= f.input :price %>
          </div>
          <div class="col-6">
            <%= f.input :description %>
          </div>
        </div>
        <%= f.input :photos, as: :file, input_html: { multiple: true } %>
        <%= f.submit  class: "btn btn-primary"%>
      <% end %>
    </div>
  </div>
</div>
