<div class="container background_castle font_castle">
  <div class="row justify-content-center">
    <div class="col-12 col-lg-6">
      <%= simple_form_for(@castle) do |f| %>
        <div class="row">
          <div class="col-8">
            <%= f.input :name%>
          </div>
          <div class="col-8">
            <%= f.input :address,
              input_html: {data: {address_autocomplete_target: "address"}, class: "d-none"},
              wrapper_html: {data: {controller: "address-autocomplete", address_autocomplete_api_key_value: ENV["MAPBOX_API_KEY"]}}
            %>
          </div>
          <div class="col-4">
            <%= f.input :price %>
          </div>
          <div class="col-8">
            <%= f.input :description, as: :string %>
          </div>
        </div>
        <%= f.input :photos, as: :file, input_html: { multiple: true } %>
        <%= f.submit  class: "btn btn-primary"%>
      <% end %>
    </div>
  </div>
</div>
