<div class="super-flex">
  <div class="cards">
  <% castles = @castles %>
  <% if user_signed_in? %>
    <% if current_user.castles.count > 0 %>
      <% castles = @castles.reject { |castle| current_user.castles.include?(castle) } %>
    <% end %>
  <% end %>
  <% castles.each do |castle| %>
    <div class="card">
      <a href= <%= castle_path(castle) %> >
        <% if castle.photos.count > 0 %>
          <%= cl_image_tag castle.photos[0].key %>
        <% end %>
        <p class="title"><%= castle.name %></p>
        <p><%= castle.price %>€ / night</p>
      </a>
    </div>
  <% end %>
  </div>
  <div class="super-map"
       data-controller="map"
       data-map-markers-value="<%= @markers.to_json %>"
       data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
</div>
