<div class="container">
  <div class="row">
    <div class= "col-6">
      <h2><%= @castle.name %></h2>
      <p><%= @castle.address %></p>
      <p><%= @castle.description %></p>
      <p><%= @castle.price %>€</p>
      <% if @castle.photos.count > 0 %>
          <%= cl_image_tag @castle.photos[0].key %>
      <% end %>
      <%= link_to "delete", castles_path, data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "btn btn-primary" %>
      <%= link_to "edit", edit_castle_path(@castle), class: "btn btn-primary" %>
    </div>
    <div class="col-6">
    </div>
  </div>
</div>
