
<div class="row">
    <% if @castle.photos.count > 0 %>
      <div class="cards">
          <div>
            <%= cl_image_tag (@castle.photos.first.key) %>
          </div>
          <div class="cadre">
            <% @castle.photos[1..-1].each do |castle|%>
              <div class="card img-container">
                <%= cl_image_tag (castle.key) %>
              </div>
            <% end %>
          </div>
      </div>
    <% end %>
  <div class= "col-6">
      <h2><%= @castle.name %></h2>
      <p><%= @castle.address %></p>
      <p><%= @castle.description %></p>
      <p><%= @castle.price %>€</p>
      <div class="d-flex justify-content-center gap-2">
        <%= link_to "delete", castles_path, data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "btn btn-primary " %>
        <%= link_to "edit", edit_castle_path(@castle), class: "btn btn-primary" %>
        <%# <%= link_to "booking", booking_castle_path(@castle), class: "btn btn-primary" %>
      </div>
    </div>


</div>
